apiVersion: apps/v1
kind: Deployment
metadata:
  name:  trabalho-devops
  namespace: trabalho
  labels:
    app:  trabalho-devops
spec:
  selector:
    matchLabels:
      app: trabalho-devops
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  trabalho-devops
    spec:
      # initContainers:
        # Init containers are exactly like regular containers, except:
          # - Init containers always run to completion.
          # - Each init container must complete successfully before the next one starts.
      containers:
      - name:  trabalho-devops
        image:  eduardo307/trabalho-devops:latest
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
        env:
        - name: host
          valueFrom:
            configMapKeyRef:
              name: trabalho-devops
              key: host
        - name: titulo
          valueFrom:
            secretKeyRef:
              name: trabalho-devops
              key: titulo
        ports:
        - containerPort:  8000
          name:  trabalho-devops